<% if @result["rest"] != nil %>
<% x=0 %>
<% while x<=20 do %>
<div>
<%=link_to "#{@result_name[x]}","#{@result_url[x]}" %>
<%= form_for @jirou, url: jirous_create_path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :name, placeholder: "Compose new micropost..." %>
    <%= f.text_area :url, placeholder: "Compose new micropost..." %>
    <%= f.text_area :user_id, placeholder: "Compose new micropost...", value:current_user.id %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  
<% end %>
</div>
<% x+=1 %>
<% end %>
<% else %>
結果はありません

<% end %>

<div>
</br>
<%= link_to "検索に戻る","/jirous/post" %>
</div>