<%if user_signed_in? %>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
       <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
      <section class="mymeshi">
      <%= render 'shared/myjirou' %>
      </section>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
      <h3>みんなのつぶやき</h3>
      <%= render 'shared/feed' %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
      <h3>お店を検索してmyメシに加えよう！</h3>
      <%= link_to "店名で検索",   "/jirous/post" %><br/>
      <%= link_to image_tag("/assets/shopname.jpg", :size =>'360x240'), "/jirous/post" %><br/>
      <%= link_to "キーワード検索",   "/jirous/search" %><br/>
      <%= link_to image_tag("/assets/rename2.jpg", :size =>'360x240'), "/jirous/search" %>
    </div>

  </div>
   <%= render 'shared/notifications' %>
<% else %>
  <div class="center jumbotron">
    <h1>Meshistagram</h1>

    <h2>
      こだわりのメシを投稿して、お店を共有しよう！
    </h2>
    <div style="text-align:center;"></br>
    <%= link_to "登録する！", "/users/sign_up", class: "btn btn-lg btn-warning" %>
    <%= form_for(User.new, url:user_session_path) do |f| %>
  <%= f.hidden_field :email, value: "example@railstutorial.org" %>
  <%= f.hidden_field :password, value: "foobar" %>
  <%= f.submit "かんたんログイン", class:"btn btn-lg center-block btn-success"%> 
<% end %>
    </div>

  </div>

  
<% end %>