<%if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
       <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    <% current_user.jirous.each do |shop| %>
        <div><%= link_to shop.name, "#{shop.url}" %> 
        <%= link_to '削除', "/jirous/#{shop.id.to_i}", method: :delete,  data: { confirm: "削除してよろしいですか？", commit: "削除する", cancel: "やめる", title: "ご確認ください" } %></div>

    <% end %>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= current_user.username %>
      <%= render 'shared/feed' %>
    </div>
  </div>
   <%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
   <%= render 'shared/header' %>
<% else %>
  <div class="center jumbotron">
    <h1>Meshistagram</h1>

    <h2>
      こだわりのメシを投稿して、お店を共有しよう！
    </h2>

    <%= link_to "登録する！", "/users/sign_up", class: "btn btn-lg btn-warning" %>
  </div>

  
<% end %>